/* this stores color variables */
:root{
    --primaryBack: #0D160B;
    --secondaryBack: #785589;
    --primary: #977390;
    --secondPrimary: #AC7B7D;
    --text: #BB8A89;
}
/* Body */
.templateBody{
    background-color: var(--primaryBack);
    color: var(--text);
}
/* BodyEnd */

/* Navbar */
.navbar{
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    border: 1px solid var(--secondaryBack);
    background-color: var(--primary);
}
.collapse{
    width: 100%;
    table-layout: fixed;
    justify-content: space-evenly;
}
.nav-item{
    padding-right: 20px;
}
.nav-link{
    font-size: 25px;
}
/* Navbar END*/